@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors */

  /* Primary */

  --red: hsl(0, 100%, 74%);
  --dark-red: hsl(0, 100%, 65%);
  --red-shadow: hsla(360, 65%, 64%, 50%);
  --green: hsl(154, 59%, 51%);
  --hover-green: hsl(154, 59%, 71%);
  --dark-green: hsl(154, 59%, 40%);
  --white: hsl(0, 100%, 100%);

  /* Accent */

  --blue: hsl(248, 32%, 49%);
  --hover-blue: hsl(248, 32%, 59%);
  --blue-shadow: hsl(248, 32%, 45%);

  /* Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  /* Fonts */

  --poppins: "Poppins", sans-serif;

  --w-regular: 400;
  --w-medium: 500;
  --w-semibold: 600;
  --w-bold: 700;

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

body {
  font-family: var(--poppins);
  background: url(./images/bg-intro-desktop.png);
  background-color: var(--red);
}
h1 {
  color: var(--white);
  font-size: var(--s-48);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.info {
  width: 500px;
  margin-right: 70px;
}

.info-text {
  color: var(--white);
  line-height: var(--s-24);
}

.signup-form {
  width: 540px;
}

.trial-btn {
  width: 540px;
  margin-bottom: var(--s-24);
  background-color: var(--blue);
  color: var(--white);
  border: none;
  height: 58px;
  border-radius: var(--s-8);
  box-shadow: 1px 2px 0 1px var(--blue-shadow), 0 10px 0 1px var(--red-shadow);
}

.trial-btn:hover {
  background-color: var(--hover-blue);
  box-shadow: 1px 2px 0 1px var(--blue);
  cursor: pointer;
}

.trial-bold {
  font-weight: var(--w-semibold);
}

.info-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 40px;
  background-color: var(--white);
  border-radius: var(--s-8);
  box-shadow: 0 10px 0 1px var(--red-shadow);
}

.info-form > input {
  padding: var(--s-16) var(--s-24);
  margin-bottom: var(--s-8);
  border-radius: var(--s-8);
  border: 1px solid var(--grayish-blue);
  background-image: "";
  background-size: var(--s-24) var(--s-24);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.submit-btn {
  border: none;
  height: var(--s-48);
  margin-bottom: var(--s-8);
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  border-radius: var(--s-8);
  box-shadow: 1px 2px 0 1px var(--dark-green);
}

.submit-btn:hover {
  background-color: var(--hover-green);
  box-shadow: 1px 2px 0 1px var(--green);
  cursor: pointer;
}

.terms {
  color: var(--grayish-blue);
  font-size: 12px;
  text-align: center;
}

.terms-link {
  text-decoration: none;
  color: var(--red);
}

.error-msg {
  margin: 0 0 16px 24px;
  color: var(--red);
  font-size: 12px;
  text-align: right;
  font-weight: var(--w-medium);
}

.attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  position: inherit;
  width: 100%;
  color: var(--grayish-blue);
}
.attribution a {
  text-decoration: none;
  color: var(--blue);
}
