@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  /* Colors */

  /* Primary */

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --white: hsl(0, 100%, 100%);

  /* Accent */

  --blue: hsl(248, 32%, 49%);

  /* Neutral */

  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
  /* Fonts */

  --poppins: "Poppins", sans-serif;

  --w-regular: 400;
  --w-medium: 500;
  --w-semibold: 600;
  --w-bold: 700;

  /* Sizes*/
  --s-8: 0.5rem;
  --s-16: 1rem;
  --s-24: 1.5rem;
  --s-32: 2rem;
  --s-40: 2.5rem;
  --s-48: 3rem;
  --s-64: 4rem;
  --s-80: 5rem;
}

body {
  font-family: var(--poppins);
  background: url(./images/bg-intro-desktop.png);
  background-color: var(--red);
}
h1 {
  color: var(--white);
}
main {
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.info {
  width: 500px;
}
.info-text {
  color: var(--white);
}
.signup-form {
  width: 540px;
}
.info-form {
  background-color: var(--white);
}

.attribution {
  display: flex;
  justify-content: center;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: var(--s-8);
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
